*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-barra-navegacion:  #5e5e5e;
}

.titulos-puntos{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    margin-top: 10px;
}

/* EJERCICIO NUMERO 1 */

.barra-navegacion {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-barra-navegacion);
    border: 1px solid rgb(0, 0, 0);
    gap: 20px;
}

.barra-navegacion__enlaces {
    color: white;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;   
    padding: 10px;
    margin-right: 20px;
}

/* EJERCICIO NUMERO 2 */

